<!-- HEADER -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo flex justify-center">
        <img src="../../assets/images/logo-01.png">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- END HEADER -->

<!-- CONTENT -->
<ion-content class="ion-padding">
  <div>
    <button class="btn-primary mt-10 scan" (click)="scan();"></button>
    <button class="btn-primary mt-10 visit" (click)="search();"></button>
    <button class="btn-primary mt-10 cart" (click)="history();"></button>
  </div>
</ion-content>
<!-- END CONTENT -->